[build]
  publish = "dist"
  command = "npm run build"
  environment = { SECRETS_SCAN_OMIT_KEYS = "VITE_SUPABASE_URL,VITE_SUPABASE_PUBLISHABLE_KEY,VITE_SUPABASE_PROJECT_ID" }

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
